*.tmp
*.pyo
*.po
server/chat/__pycache__/**/
server/chat/websocket/__pycache__/**/
server/chat/web/__pycache__/**/
server/chat/views/__pycache__/**/
server/chat/views/chat/__pycache__/**/
.idea/**
.tmp/**

frontend/.tmp/**
frontend/node_modules/**
frontend/bower_components/**