Flask==0.10.1
Flask-Cors==2.1.2
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-WTF==0.12
Jinja2==2.8
MarkupSafe==0.23
WTForms==2.1
Werkzeug==0.11.9
backports-abc==0.4
blinker==1.4
gevent==1.1.1
greenlet==0.4.9
itsdangerous==0.24
passlib==1.6.5
peewee==2.8.1
psycopg2==2.6.1
redis==2.10.5
six==1.10.0
tornado==4.3
