<div class="messages-tab inline">
    <div class="col-md-12 col-lg-9">
        <div class="panel">
        	<div class="panel-heading">
               <h3 class="panel-title">Chat</h3>
           </div>
    		<div id="demo-chat-body" class="collapse in">
    			<div class="nano has-scrollbar" style="height:380px">
    				<div class="nano-content pad-all" tabindex="0" style="right: -17px;">
    					<ul class="list-unstyled media-block">
							<li class="mar-btm" ng-repeat="message in messages track by message.message_id">
    							<div ng-class="isMine(message) ? 'media-right' : 'media-left'" ng-if="message.number_of_conversationees > 2">
    								<img ng-src="{{message.sender.picture}}" class="img-circle img-sm" alt="Profile picture">
    							</div>
    							<div class="media-body pad-hor" ng-class="isMine(message) ? 'speech-right' : 'speech-left'">
    								<div class="speech">
    									<p class="media-heading">{{message.sender.name}}</p>
    									<p ng-if="message.type_name==='common_text'">{{message.content.text}}</p>
                                        <p ng-if="message.type_name==='directive_cotation_mt'"><cotacao parameters="message.content.parameters"></cotacao></p>
    									<p class="speech-time">
    										<i class="fa fa-clock-o fa-fw"></i> {{message.ts | date : 'hh:mm'}}
    									</p>
    								</div>
    							</div>
							</li>

    					</ul>
    				</div>
    			<div class="nano-pane"><div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div></div></div>
    		</div>
    	</div>
    </div>
	<conversations-input></conversations-input>
</div>
